.home-cover {
  position: relative;
  justify-content: center;
  gap: 2rem;
}

.home-cover-headlines {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  gap: .5rem;
}

.home-work {
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  gap: 1rem;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  //gap: 1rem;
}

.scroll-invite {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  bottom: -25px;
  right: 20px;

  p { 
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .scoll-invite-line {
    height: 100px;
    width: 2px;
    background-color: black;
  }
}