@import "../../assets/stylesheets/colors.scss";
@import "../../assets/stylesheets/elevations.scss";
@import "../../assets/stylesheets/fonts.scss";
@import "../../assets/stylesheets/radius.scss";
@import "../../assets/stylesheets/shadows.scss";
@import "../../assets/stylesheets/spacing.scss";

.button {
  --x: 0;
  --y: 0;
  --size: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: .25rem;
  padding: $common-medium-padding;
  overflow: hidden;
  z-index: $button-elevation;

  width: fit-content;

  border-radius: $button-radius;
  background-color: $main-500;
  color: $main-50;
  box-shadow: $shadow;

  transition: box-shadow 300ms ease-in-out;

  & > * {
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: var(--size);
    height: var(--size);
    z-index: 1;

    background-color: $hover-effect;
    border-radius: 50%;

    pointer-events: none;

    transform: translate3d(calc(var(--size) / -2), calc(var(--size) / -2), 0);
    transition: background-color 200ms ease-in-out;
  }

  &:hover {
    box-shadow: $shadow-xl;
    &::after { background-color: $hover-effect; }
  }

  &:active {
    box-shadow: $inset-shadow;
    &::after { background-color: $active-effect; }
  }

  span {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}