@import "../../assets/stylesheets/colors.scss";
@import "../../assets/stylesheets/elevations.scss";
@import "../../assets/stylesheets/radius.scss";
@import "../../assets/stylesheets/spacing.scss";
@import "../../assets/stylesheets/fonts.scss";

button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $button-vertical-padding $button-horizontal-padding;
  overflow: hidden;
  z-index: $button-elevation;

  border: unset;
  border-radius: $button-radius;
  background: unset;
  color: $light-primary-text;
  font-family: "Martian Mono";
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;

  .button-background {
    position: absolute;
    inset: 0;
    z-index: ($button-elevation - 4);
    background-color: $main-500;
  }

  .hover-effect {
    --effect-size: 0%;
    --effect-position: 50% 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: ($button-elevation - 3);
    
    background: $accent-500;
    clip-path: circle(var(--effect-size) at var(--effect-position));
    pointer-events: none;
  }

  .active-effect {
    --effect-size: 0%;
    --effect-position: 50% 50%;
    position: absolute;
    inset: 0;
    z-index: ($button-elevation - 2);
    
    background: $active-effect;
    clip-path: circle(var(--effect-size) at var(--effect-position));
    pointer-events: none;
  }
}
