.cursor-tooltip {
  position: absolute;
  width: fit-content;
  height: fit-content;

  padding: 1rem;

  background-color: black;
  color: white;
  border-radius: .5rem;

  scale: 0;

  p {
    font-size: .75rem;
    font-weight: 400;
  }
}