@import "../../assets/stylesheets/colors.scss";

.work-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.work-grid-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-inner-grid {
  display: grid;
  gap: 2rem;

  &.hidden {
    display: none;
  }
}

.work-inner-grid-empty-space {
  display: none;
}

.work-category-selectors {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: .25rem;
}

.work-category-selector {
  display: flex;
  justify-content: start        ;
  align-items: baseline;
  background: unset;
  color: $dark-secondary-text;
  width: fit-content;
  padding: unset;

  box-shadow: unset;
  font-size: min(max(4vw, 1.4rem), 2.5rem);
  font-weight: 500;
  text-transform: uppercase;

  transition: color 400ms;
  outline-offset: .37       5rem;

  &:hover {       
    box-shadow: unset;
    color: $dark-primary-text;
  }

  &[aria-selected="true"] {
    color: $main-500;
    pointer-events: none;
  }
}

@media screen and (min-width: 800px) {
  .work-inner-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-grid-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(100% - 2rem) / 2);
  }

  .work-inner-grid-empty-space {
    display: flex;
  }

  .work-category-selectors {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .work-inner-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .work-grid-header {
    width: calc(calc(100% - 4rem) / 3);
  }
}