@import "../../assets/stylesheets/spacing.scss";
@import "../../assets/stylesheets/radius.scss";
@import "../../assets/stylesheets/colors.scss";
@import "../../assets/stylesheets/shadows.scss";

$handle-size: .5em;

.tab, .tab-overlay {
  display: flex;
  align-items: center;
  
  padding-top: $common-medium-padding;
  padding-left: $common-medium-padding;
  padding-right: $common-medium-padding * 2 + $handle-size;
  padding-bottom: $common-medium-padding;

  border-radius: $button-radius;
}

.tab {
  position: relative;
  width: fit-content;
  box-shadow: $shadow-none;
}

.tab-overlay {
  --background-size: 0px;
  --after-scale: 0;
  position: absolute;
  inset: 0;

  border-radius: $button-radius;

  background-color: $dark-primary-text;
  color: $light-primary-text;

  clip-path: circle(var(--background-size) at calc(100% - calc($common-medium-padding + calc($handle-size / 2))) 50%);

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: $common-medium-padding;
    width: $handle-size;
    height: $handle-size;
    background-color: $light-primary-text;
    border-radius: 50%;

    transform-origin: center;
    scale: var(--after-scale);
  }
}

