@import '../../assets/stylesheets/elevations.scss';
@import '../../assets/stylesheets/colors.scss';

#loader-section {
  position: fixed;
  inset: 0;
  z-index: $loader-section-elevation;

  background-color: $main-500;
}

// @import '../../assets/stylesheets/colors.scss';
// @import '../../assets/stylesheets/elevations.scss';

// #loader-section {
//   position: fixed;
//   inset: 0;
//   z-index: $loading-section-elevation;

//   background-color: $background;
//   --progress: 0;
//   container-type: inline-size;
  
// }

// .loader-info-container {
//   display: flex;
//   flex-direction: column;
//   gap: .5rem;
//   align-items: center;
//   align-self: end;
// }

// .loader-loadbar-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .loader-section-grid {
//   display: grid;
//   gap: 1rem;
//   width: 100%;
//   flex-grow: 1;
//   justify-content: center;
//   text-align: center;

//   @container (width > 600px) {
//     align-items: center;
//     justify-content: start;
//     text-align: unset;
//     grid-template-columns: 1fr auto;
//     height: 100%;

//     .loader-info-container {
//       align-self: unset;
//       align-items: start;
//     }

//     .loader-loadbar-container {
//       align-self: stretch;
//       display: flex;
//       flex-direction: column;
//       align-items: stretch;

//       &::before {
//         content: "";
//         width: 100%;
//         flex-grow: calc(1 - var(--progress));
//       }
//     }
//   }
// }