@import "../../assets/stylesheets/colors.scss";

#cover-section {
  position: relative;
  justify-content: center;

  .drag-and-drop-container {
    opacity: 0;
    transform: translateY(2rem);
  }

  .ntsy {
    display: flex;
    flex-wrap: wrap;
    column-gap: max(2vw, 1rem);
  }

  h1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: max(2vw, 1rem);
    margin-top: 1rem;
  }

  .emoji {
    display: inline-flex;
    clip-path: polygon(-20% -20%, 120% -20%, 120% 100%, -20% 100%);

    span {
      display: block;
      transform: translateY(100%);
    }
  }

  // .emoji {
  //   opacity: 0;
  // }

  .button {
    opacity: 0;
    transform: translateY(1rem);
  } 
}



#scroll-invite {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  bottom: -25px;
  right: 20px;

  p { 
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    height: 100px;
    width: 2px;
    background-color: $dark-secondary-text;
  }
}

.waving-hand {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}