@import "./assets/stylesheets/colors.scss";

#cover-section {
  position: relative;
  justify-content: center;
  gap: 2rem;
}

#headline-description {
  max-width: 23rem;
}

#scroll-invite {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  bottom: -25px;
  right: 20px;

  p { 
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    height: 100px;
    width: 2px;
    background-color: $dark-secondary-text;
  }
}