@import "./assets/stylesheets/fonts.scss";
@import "./assets/stylesheets/colors.scss";
@import "./assets/stylesheets/elevations.scss";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: $martian-mono;
  font-weight: 300;
  overflow-x: hidden;
}

#root {
  position: relative;
  height: fit-content;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  font-size: min(max(8.3vw, 3rem), 11rem);
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: min(max(4vw, 1.4rem), 5.3rem);
  font-weight: 300;
}

h3 {
  font-size: min(max(4vw, 1.4rem), 5.3rem);
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-size: min(max(2vw, .8rem), 1rem);
  font-weight: 300;
}

.index {
  font-size: .8rem;
  font-weight: 400;
  color: $dark-secondary-text;
}

.background-shape {
  aspect-ratio: 1 / 1;
  width: 4rem;
  height: 4rem;
  opacity: .3;
  filter: contrast(150%) brightness(150%);
  background: linear-gradient(45deg, rgba(91,28,158,1), rgba(140,68,217,0)),
              url(assets/images/textures/noise.svg) repeat;
}

.project-grid {
  display: grid;
  gap: 1rem;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.one-line {
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (min-width: 1200px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }  
}