@import "./assets/stylesheets/fonts.scss";
@import "./assets/stylesheets/colors.scss";
@import "./assets/stylesheets/elevations.scss";
// * {
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// body {
//   background-color: $background;
//   font-family: $switzer;
//   font-weight: 400;
//   overflow-x: hidden;
//   color: $dark-secondary-text;
// }

// #root {
//   position: relative;
//   height: fit-content;
// }

section {
  flex-direction: column;
  //align-items: start;
}

// .display {
//   font-family: $thunder;
//   font-variation-settings: "CNTR" 0;
//   font-style: normal;
//   font-weight: 800;
//   text-transform: uppercase;
//   color: $dark-primary-text;
// }

h1 {
  font-size: min(max(8.3vw, 3rem), 11rem);
  font-weight: 500;

  &.display {
    font-size: max(24vw, 5.4rem);//min(max(10vw, 3.5rem), 14rem);

    .emoji {
      font-size: max(13vw, 4.05rem);//min(max(8.3vw, 3rem), 11rem);
    }
  }
}

// h2 {
//   font-size: min(max(7.1vw, 1.78rem), 9.4rem);
//   font-weight: 500;

//   &.display {
//     font-size: min(max(8.6vw, 3rem), 12rem);
//   }
// }

// h3 {
//   font-size: min(max(4vw, 1.4rem), 5.3rem);
//   font-weight: 500;
//   text-transform: uppercase;
// }

// p, 
button {
  font-size: min(max(2vw, 1rem), 1.2rem);
  font-weight: 400;
}

button {
  position: relative;
  
  outline-offset: .125rem;
  outline: .1875rem solid transparent;

  border: unset;
  background: unset;
  cursor: pointer;

  transition: outline-color 200ms ease-out;

  &:focus-visible {
    outline-color: $main-950;
  }
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
}

.hidden-text {
  opacity: 0;
  transform-origin: top left;
  transform: translateY(2rem) rotate(3deg);
}

// .index {
//   font-family: $martian-mono;
//   font-size: .8rem;
//   font-weight: 400;
// }

// .background-shape {
//   aspect-ratio: 1 / 1;
//   width: 4rem;
//   height: 4rem;
//   opacity: .3;
//   filter: contrast(150%) brightness(150%);
//   background: linear-gradient(45deg, $main-700, rgba(140,68,217,0)),
//               url(assets/images/textures/noise.svg) repeat;
// }

// .project-grid {
//   display: grid;
//   gap: 1rem;
// }

// .showable-text {
//   opacity: 0;
//   transform: translateY(50%);
// }

// .headline-description {
//   max-width: 23rem;
// }

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}