@import "./assets/stylesheets/colors.scss";
@import "./assets/stylesheets/elevations.scss";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: $background;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.background-shape {
  aspect-ratio: 1 / 1;
  width: 4rem;
  height: 4rem;
  width: 250px;
  height: 250px;
  opacity: .3;
  filter: contrast(150%) brightness(150%);
  background: linear-gradient(45deg, rgba(91,28,158,1), rgba(140,68,217,0)),
              url(assets/images/textures/noise.svg);
}