@import "../../assets/stylesheets/elevations.scss";

.cursor {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $cursor-elevation;
  pointer-events: none;
  opacity: .1;
}

