//general
$background: #f8f7f6;
$accent-500: #ef4d9b;
$main-500: #8c44d9;

//effect
$hover-effect: rgba(255, 255, 255, .25);
$active-effect: rgba(0, 0, 0, .15);

//texts
$light-primary-text: rgba(255, 255, 255, .81);
$dark-primary-text: rgba(0, 0, 0, .87);
$dark-secondary-text: rgba(0, 0, 0, .4);