//general
$background: #f8f7f6;
$accent-500: #ef4d9b;

//Main
$main-50: #EDEFFF;
$main-100: #DEE2FF;
$main-300: #A0A5FF;
$main-500: #6C5BF9;
$main-700: #502FD3;
$main-800: #4129AA;
$main-950: #23184E;



//effect
$hover-effect: rgba(255, 255, 255, .25);
$active-effect: rgba(0, 0, 0, .1);

//texts
$light-primary-text: rgba(255, 255, 255, .81);
$dark-primary-text: rgba(0, 0, 0, .87);
$dark-secondary-text: rgba(0, 0, 0, .4);