@import "./colors.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: $switzer;
  font-weight: 400;
  overflow-x: hidden;
  color: $dark-secondary-text;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 5vw;
  display: flex;
}

h1 {
  &.display { font-size: max(24vw, 5.4rem);; }
}

p {
  font-size: min(max(2vw, 1rem), 1.2rem);
  font-weight: 400;
}

.index {
  font-family: $martian-mono;
  font-size: .8rem;
  font-weight: 400;
}

.display {
  font-family: $thunder;
  font-variation-settings: "CNTR" 0;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: $dark-primary-text;
}

#loader-section {
  --progress: 0;
  --height: 100%;
  --top: 50%;

  position: fixed;
  inset: 0;
  z-index: 998;

  background-color: $main-500;
  color: $light-secondary-text;
  container-type: inline-size;

  clip-path: ellipse(150% var(--height) at 50% var(--top));

  .display {
    color: $light-primary-text;
  }
}

.loader-grid {
  display: grid;
  gap: 1rem;
  flex-grow: 1;
  justify-content: center;
  text-align: center;

  @container (width > 600px) {
    grid-template-columns: 1fr auto;
    justify-content: start;
    align-items: center;
    text-align: left;

    .loader-info-container {
      align-self: unset;
      align-items: start;
    }

    .loader-loadbar-container {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &::before {
        content: "";
        width: 100%;
        flex-grow: calc(1 - var(--progress));
      }
    }
  }
}

.loader-info-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-self: end;
}

.loader-loadbar-container {
  .display {
    color: $main-500;
    font-size: max(8.6vw, 3rem);
  }
}

.headline {
  max-width: 23rem;
}

.accessibility-text {
  position: fixed;
  top: -110%;
  left: -110%;
}